/*COLOUR */

.bg-green {
  background-color:#7fa646;
}

.bg_green_footer{
	background: #1db361;
}

.footer_bg{
	background-color: #1cad5e;
}

.bg-dark-green {
  background-color:#1db361;
}

.bg-orange {
  background-color:#f87628;
}

.bg-purple {
  background-color: #9b1dd5;
}

.bg-blue{
  background-color: #355993;
}

.bg-light-blue {
	background-color: #1116e1;
}

.bg-red{
	background-color: #c60001;
}

.black_text{
	color: #000;
}


/*END COLOUR */

/*Text*/

/*Text end*/

