/*COLOUR */

.bg-green {
  background-color:#7fa646;
}

.bg-dark-green {
  background-color:#23bf1c;
}

.bg-orange {
  background-color:#f87628;
}

.bg-purple {
  background-color: #9b1dd5;
}

.bg-blue{
  background-color: #355993;
}

.bg-light-blue {
	background-color: #1116e1;
}


.bg-red{
	background-color: #c60001;
}


/*END COLOUR */

/*Text*/

/*Text end*/

