/*TYPOGRAPHY*/

@font-face{
	font-family:'Noteworthy';
	src: url(vendor/fonts/Noteworthy-Lt.ttf);
}

.box-text{
  color: white;
  font-size: 15px;
}

.text-white {
	color: white;
  font-size: 13px;
}


/*TYPOGRAPHY ENDS*/

