/*TYPOGRAPHY*/

@font-face{
	font-family:'Noteworthy';
	src: url(vendor/fonts/Noteworthy-Lt.ttf);
}

.box-text{
  color: white;
  font-size: 15px;
}

.text-white {
	color: white;
  font-size: 13px;
}


/*events*/
.event_text h2{
	padding-top: 10px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.25;
	font-family:'Noteworthy';
}

.event_text p{
	color: white;
	font-size: 17px;
	line-height: 1.25;
	font-family:'Noteworthy';
}
/*events end*/

/*TYPOGRAPHY ENDS*/

