/*TYPOGRAPHY*/

@font-face{
	font-family:'Noteworthy';
	src: url(vendor/fonts/Noteworthy-Lt.ttf);
}

.box-text{
  color: white;
  font-size: 15px;
}

.text-white {
	color: white;
  font-size: 13px;
}


/*events*/
.event_text h2 {
	padding-top: 10px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.25;
	font-family:'Noteworthy';
}

.event_text p {
	color: white;
	font-size: 17px;
	line-height: 1.25;
	font-family:'Noteworthy';
}
/*events end*/

.emilia_text {
	font-family: Arial, Helvetica, sans-serif;
}

.emilia_text h5 {
	font-size: 20px;
	color: #233956;
	font-family: Arial;
	font-weight: bold;
}

.emilia_text_bold {
	font-size: 26px;
	line-height: 1.25;
	color: #233956;
	font-family: Arial;
	font-weight: bold;
}

/*TYPOGRAPHY ENDS*/

