
/*PADDING & MARGINS */

.mt-30 {
  margin-top:30px;
}

.mt-20 {
  margin-top:20px;
}

.mt-10{
	margin-top: 10px;
}

.mt-50{
	margin-top: 50px;
}

.mt-70{
	margin-top: 70px;
}
.pr-70 {
  padding-right:70px; 
}

.ml-35{
	margin-left: 35px;
}

/*PADDING & MARGINS */

