
/*PADDING & MARGINS */

.mt-10{
	margin-top: 10px;
}

.mt-20 {
  margin-top:20px;
}

.mt-30 {
  margin-top:30px;
}

.mt-50{
	margin-top: 50px;
}

.mt-70{
	margin-top: 70px;
}

.mt-100{
	margin-top: 100px;
}

.pr-70 {
  padding-right:70px; 
}

.pt-50{
	padding-top: 50px;
}

.pt-30{
	padding-top: 30px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-30 {
	padding-bottom: 30px;
}

.ml-35{
	margin-left: 35px;
}

.ml-40{
	margin-left: 40px;
}

.ml-200{
	margin-left: 200px;
}

.ml-300{
	margin-left: 300px;
}
/*PADDING & MARGINS */

