
.school-info div {
	font-family:arial;
	color: white;
	font-size: 14px;
}

.parent-guide span {
	padding: 0px 5px 2px 5px;
	color: white;
	font-size: 13px;
}

.parent_guide_button {
	padding: 0px 5px 2px 5px;
	color: white;
	font-size: 13px;
}

.parent_guide_button:hover {
	color: white;
}

/*logo image*/

.LogoECC {
	width: 200px
}
/*logo image ends*/

/*Social media block*/

.instagram_color_icon {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 27px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, 
  #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.facebook_blue_icon {
	color:#4c6da3;
  font-size: 27px;
  vertical-align: middle;
	display: inline-block;
  text-align: center;
	border-radius: 10px;
}

/*social media block ends*/

/*Logo block*/

.learn-play {
	font-size: 32px;
	padding: 3px 20px 3px 20px;
	color: white;
}
/*Logo block*/


/*Navbar*/
.list-group-item {
	border: none !important;
	padding:0px !important;
}

.list-group-item a:hover {
	opacity: 0.8;
}
/*Navbar end*/

/*Banner top*/

.form-control {
height: 20px;
}
/*banner top ends*/


/*Latest news*/
.news-text h2 {
	font-family: Noteworthy;
	color: #e51669;
	font-size: 52px;
	font-weight: bold !important;
}

.news-text p {
	font-family: Noteworthy;
	color: #e51669;
	font-size: 27px;
}
/*Latest news end*/


/*Body col & button*/
.activity_button {
	color: white;
	font-size: 21px;
	margin: 20px;
	padding: 0px 50px;
}

.activity_button:hover {
	background-color:rgba(0, 0, 0, 0.3);
	color: white;
}

/*Body col & button*/

.blue_text {
	font-size: 17px;
	padding: 0px 7px 0px 7px;
}

.orange_text {
	font-size: 17px;
	padding: 0px 7px 0px 7px;
}

.green_text {
	font-size: 17px;
	padding: 0px 7px 0px 7px;
}

.img_testimonial{
width: 200px;
}
/*Body col & button ends*/

.contact_container {
	max-width: 950px;
	border-top: 10px solid #7fa646;
	margin-left: auto;
	margin-right: auto;
}

.contact_text {
	font-size: 14px;
	font-weight: bold;
}

.contact_container p{
	font-size: 12px;
}

.emichildcare-text {
	font-size: 17px !important;
}

.fa_search_location_size{
	font-size: 17px;
}

.envelope_size {
	font-size: 17px; 
}

.fa_phone_size {
	font-size: 17px;
}

.email_box {
	padding-left:7px;
	border: 2px solid #acacac;
}

.subscribe_btn {
	margin:auto;
	padding: 4px 47px !important;
	font-size: 23px;
}

.footer-block {
	max-width: 100%;
	padding: 10px 0px;
	background-color:#7fa646;
}


.copyright-text {
	font-family:arial;
	padding:6px 0px;
	font-size: 14px;
}

.footer_navigation ul li a {
	margin-bottom: 7px;
  font-size: 14px;
  list-style-type:none;
  color: black;
}

.footer_nav_blocks{
	margin-bottom: 15px;
}

/*	Media Query sm to tablet */

/*Medium devices (tablets & cellphones, less than 992px)*/

@media (max-width: 991.98px){ 
	.school-info div {
		text-align: center !important;
	}

	.parent-guide-row div {
		text-align: center !important;
	}

	.learn-play, .desktop-nav {
		display: none;
	}

	.LogoECC {
		width: 180px;
	}

	.mobile-center {
		text-align: center;
	}

	.mobile-padding {
		margin: 20px 0px;
	}

	.mobile_navlist ul li {
		border-bottom: 1px white solid;
	}

	.main-nav {
		margin-top: 30px;
		background-color:#f87628;
		width: 100%;
	}

	.main-nav a {
	color: #fff;
	}

	.main-nav ul {
		list-style: none;
		padding: 10px 0px;
		margin: 0px;
		margin: 0px auto;
	}

	.main-nav li {
		display: block;
		border-bottom: 1px #442205 solid;
		padding: 5px 0px;
	}

	.footer_block_mobile {
		max-width: 100%;
	}

	.footer_block {
		display: none !important;
	}

	.icon_bar {
		margin-top: 10px;
		text-align: center;
	}

	.icon_bar a {
		color: white !important;
	}

/*Social media block*/

 .display_mobile{
 	padding-bottom: 10px;
 	padding-top: 10px;
 }

.instagram_color_icon_mobile {
	display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 27px;
  vertical-align: middle;
	}

.facebook_blue_icon_mobile {
	color:#fff;
  font-size: 27px;
  vertical-align: middle;
	display: inline-block;
  text-align: center;
	border-radius: 10px;
	}

.instagram_color_icon {
	display: none;
}

.facebook_blue_icon {
	display: none;
}

.desktop_scroll_display{
	display: none;
}

.footer_navigation{
	display: none;
	}

/*social media block ends*/
}

/*

// Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px){

	.main-nav{
		display: none;
	}

	.footer_block_mobile { 
	display: none;
	}

	.instagram_color_icon_mobile {
  display: none;
	}

	.facebook_blue_icon_mobile {
	display: none;
	}

	.mobile_scroll_display{
		display: none;
	}

}