
	.school-info div {
		font-family:arial;
		color: white;
		font-size: 17px;
	}

	.school_info {
		font-family:arial;
		color: white;
		font-size: 17px;
	}


	.parent-guide span {
		padding: 0px 5px 2px 5px;
		color: white;
		font-size: 13px;
	}

	.parent_guide_button {
		padding: 0px 5px 2px 5px;
		color: white;
		font-size: 13px;
	}

	.parent_guide_button:hover {
		color: white;
	}

	/*logo image*/

	.LogoECC {
		width: 200px
	}
	/*logo image ends*/

	/*Social media block*/

	.instagram_color_icon {
	  display: inline-block;
	  text-align: center;
	  border-radius: 10px;
	  color: #fff;
	  font-size: 27px;
	  vertical-align: middle;
	  background: #d6249f;
	  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, 
	  #fd5949 45%,#d6249f 60%,#285AEB 90%);
	}

	.facebook_blue_icon {
		color:#4c6da3;
	  font-size: 27px;
	  vertical-align: middle;
		display: inline-block;
	  text-align: center;
		border-radius: 10px;
	}

	/*social media block ends*/

	/*Logo block*/

	.learn_play {
		font-family:Noteworthy;
		font-size: 22px;
		padding: 3px 20px 3px 20px;
		color: white;
	}
	/*Logo block*/


	/*Navbar*/
	.list-group-item {
		border: none !important;
		padding:0px !important;
	}

	.list-group-item a:hover {
		opacity: 0.8;
	}
	/*Navbar end*/

	/*Banner top*/

	.form-control {
	height: 20px;
	}
	/*banner top ends*/


	/*Latest news*/
	.news-text h2 {
		font-family: BubblegumSans;
		color: #e51669;
		font-size: 52px;
		font-weight: bold !important;
	}

	.news-text p {
		font-family: Noteworthy;
		color: #e51669;
		font-size: 27px;
	}
	/*Latest news end*/


	/*Body col & button*/
	.activity_button {
		color: white;
		font-size: 21px;
		margin: 20px;
		padding: 0px 50px;
	}

	.activity_button:hover {
		background-color:rgba(0, 0, 0, 0.3);
		color: white;
	}

	.activity_event_button {
		font-family:'Noteworthy';
		color: white;
		font-size: 21px;
		margin: 30px;
		padding: 0px 100px;
	}


	/*About button*/
	.take_atour_button:hover {
		background-color:rgba(0, 0, 0, 0.3);
		color: white;
	}

	.take_atour_button {
		font-family:'Noteworthy';
		color: white;
		font-size: 27px;
		padding: 5px 60px;
	}

	.enrolling_button:hover {
		background-color:rgba(0, 0, 0, 0.3);
		color: white;
	}

	.enrolling_button{
		font-family:'BubblegumSans';
		color: white;
		font-size: 22px;
		padding: 5px 60px;
	}
}


/*about button*/

/*Body col & button*/

	.orange_copyright_text {
		font-family:arial;
		padding:6px 10px;
		font-size: 17px;
		color: #fff;
	}

	.blue_copyright_text{
		font-family:arial;
		padding:6px 10px;
		font-size: 17px;
		color: #fff;
	} 

	.green_copyright_text{
		font-family:arial;
		padding:6px 10px;
		font-size: 17px;
		color: #fff;
	}

	.img_testimonial {
	width: 200px;
	}

	.testimonial_header {
	font-size: 43px;
	color: #233956;
	font-family: BubblegumSans;
	font-weight: bold;
	}

.testimonial_header_bold {
	font-size: 43px;
	color: #fff;
	font-family: BubblegumSans;
	font-weight: bold;
	}

	.testimonial_text {
	font-size: 15px;
	line-height: 1.25;
	color: #233956;
	font-family: sans-serif;
	}

	.testimonial_bold{
	font-weight: bold;
	font-size: 23px;
	}

	.testimonial{
		font-size: 23px;
	}

	.event_text {
	font-size: 27px;
	line-height: 1.25;
	color: #233956;
	font-family: BubblegumSans;
	}

	.event_text {
	font-size: 27px;
	line-height: 1.25;
	color: #233956;
	font-family: BubblegumSans;
	}

	.event_text_white{
	font-size: 23px;
	line-height: 1.25;
	color: #fff;
	font-family: BubblegumSans;
	}

	/*Body col & button ends*/

	.contact_container {
		padding-left: 50px;
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
		color: #fff;
	}

	.contact_container ul li {
		font-family: BubblegumSans;
		font-size: 14px;
	}

	.contact_container h4 {
		font-family: BubblegumSans;
		font-weight: bold;
		margin-bottom: 20px;
		color: #fff;
	}

	.contact_container p{
		font-size: 12px;
	}

	.contact_border_green{
		border-top: 10px solid #7fa646;
	}

	.contact_text {
		font-size: 14px;
		font-weight: bold;
	}

	.emichildcare-text {
		font-size: 17px !important;
	}

	.fa_search_location_size{
		font-size: 17px;
	}

	.envelope_size {
		font-size: 17px; 
	}

	.fa_phone_size {
		font-size: 17px;
	}

	.email_box {
		padding-left:7px;
		border: 2px solid #acacac;
	}

	.subscribe_btn {
		font-family: BubblegumSans;
		margin:auto;
		padding: 4px 27px !important;
		font-size: 23px;
	}

	.footer-block {
		max-width: 100%;
		padding: 10px 0px;
		background-color:#7fa646;
	}

	.contact-navigation li {
		margin-bottom: 10px;
	}

	.contact-navigation li:last {
		margin-bottom: 0px;
	}

	.copyright-text {
		font-family:arial;
		padding:6px 0px;
		font-size: 12px !important;
	}

	.copyright_text_white {
		font-family:arial;
		padding:6px 0px;
		font-size: 13px;
		color: #fff;
	}

	.footer_text_white ul li a{
		color: #fff;
		font-family: BubblegumSans;
		padding:6px 0px;
		font-size: 19px;
	}

	.footer_navigation ul li a{
		margin-bottom: 7px;
	  font-size: 14px;
	  list-style-type:none;
	  color: black;
	}

	.footer_nav_blocks {
		margin-bottom: 15px;
	}

	.about_banner{
		width: 100%;
		text-align: center;
		border: solid 2px #e4ff95;
		font-size: 35px;
		color: #fff;
		background-color: #ff95e4;
		padding:25px 25px;
	}

	.globetrooters_header{
		font-size: 37px;
		line-height: 1.25;
		color: #233956;
		font-family: BubblegumSans;
	}


	.globetrooters_h2 {
		font-size: 27px;
		line-height: 1.25;
		color: #233956;
		font-family: BubblegumSans;
		}

	.globetrooters_text{
		font-size: 20px;
		color: #233956;
		font-family: Arial;
		}

	.explorers_top_img_bg{
		background-image: url(../img/top_img_bubble.jpg);
		padding: 40px 0px;
		background-repeat: no-repeat;
		}

	.explorers_bottom_img_bg{
		background-image: url(../img/bottom_img_bubble.jpg);
		padding: 100px 0px;
		background-repeat: no-repeat;
		}

	.grey_bg_enrichment{
			background-color: #d9d9d9;
		}

		.bunny_footer_banner_bg{
		background-image: url(../img/full_kindergarden_banner.jpg);
		padding: 100px 0px 50px 0px;
		background-repeat: no-repeat;
		width: 100%;
		}
}